//--------------------------------------------------------------
// PRIMARY NAVIGATION
//--------------------------------------------------------------
.main-navigation {
	font-size: em(12);
	font-weight: 700;
	letter-spacing: em(1, 12);
	
	@include grid-media($tablet-landscape-up) {

		.mobile-nav-style-slide-right & {
			background-color: transparent;
			padding: 0;
		} // .mobile-nav-style-slide-right
	}

	a {
		color: color(mine-shaft);
	}
}


//-----------------------------------------
// Mobile Navigation Toggle
//-----------------------------------------
.mobile-menu-toggle {

	.mobile-nav-toggle-style-hamburger &,
	body:not(.mobile-nav-style-default).menu-open & {
		margin-left: auto;
		position: relative;
		right: auto;
		top: auto;
	}
}