//--------------------------------------------------------------
// PRIMARY NAVIGATION
//--------------------------------------------------------------
.main-navigation {
	font-size: em(12);
	font-weight: 700;
	letter-spacing: em(1, 12);
	
	@include grid-media($tablet-landscape-up) {

		.mobile-nav-style-slide-right & {
			background-color: transparent;
			padding: 0;
		} // .mobile-nav-style-slide-right
	}

	a,
	a:visited {
		color: color(mine-shaft);

		&:hover {
			color: color(driftwood);
		}
	}
}


//-----------------------------------------
// Mobile Navigation Toggle
//-----------------------------------------
.mobile-menu-toggle {

	.mobile-nav-toggle-style-hamburger &,
	.mobile-nav-toggle-style-hamburger.admin-bar &,
	body:not(.mobile-nav-style-default).menu-open & {
		margin-left: auto;
		position: relative;
		right: auto;
		top: auto;
	}

	@include grid-media($wp-admin-bar) {
		.mobile-nav-toggle-style-hamburger.admin-bar &,
		body:not(.mobile-nav-style-default).menu-open.admin-bar & {
			margin-left: auto;
			position: relative;
			right: auto;
			top: auto;
		}
	}
}