//--------------------------------------------------------------
// WIDGETS
//--------------------------------------------------------------
.primary-sidebar {

	.search-field {
		margin: 0;
		width: 100%;
	}

	input[type='submit'].search-submit {
		display: none;
	}
}

.widget_categories,
.widget_archive {

	.widget-title {
		position: relative;
	}

	ul {
		display: none;
		margin-left: 0;
		list-style: square;
	}

	.widget-toggle {
		@include position(absolute, 0 0 0 null);
		@include size(rem(15));

		display: block;
		margin: auto;
		transition: all 0.2s ease;

		&:hover {
			cursor: pointer;

			.widget-toggle-span {
				background-color: $color__menu-sub-toggle;
			}
		}
	}

	.widget-toggle-span {
		@include position(absolute, 0 0 0 0);
		@include size(rem(12) rem(2));

		background-color: $color__menu-sub-toggle;
		display: block;
		margin-top: rem(2);
		transition: all 0.2s ease;

		&.span-2 {
			transform: rotate(90deg);
		}
	}

	.toggled .span-2 {
		transform: rotate(0);
	}
}
