//--------------------------------------------------------------
// WIDGETS
//--------------------------------------------------------------
.primary-sidebar {

	.search-field {
		margin: 0;
		width: 100%;
	}

	input[type='submit'].search-submit {
		display: none;
	}
}

.widget_categories,
.widget_archive {

	ul {
		display: none;
		margin-left: 0;
		list-style: square;
	}

	.widget-toggle {
		@include size(rem(15));

		display: block;
		float: right;
		position: relative;
		transition: all 0.2s ease;

		&:hover {
			cursor: pointer;

			.widget-toggle-span {
				background-color: $color__menu-sub-toggle;
			}
		}
	}

	.widget-toggle-span {
		background-color: $color__menu-sub-toggle;
		display: block;
		height: 2px;
		position: absolute;
		right: 7px;
		top: 7px;
		transition: all 0.2s ease;
		width: 10px;

		&.span-2 {
			transform: rotate(90deg);
		}
	}

	.toggled .span-2 {
		transform: rotate(180deg);
	}
}
