//--------------------------------------------------------------
// LATEST PROJECTS
//--------------------------------------------------------------
.latest-projects {
	text-align: center;

	.button {
		width: rem(220);

		+ .button {
			margin-top: rem(20);

			@include grid-media($tablet-portrait-up) {
				margin-left: rem(20);
			}
		}
	}
}
