//--------------------------------------------------------------
// SERVICES 
//--------------------------------------------------------------
.services-block {

	.heading {
		color: color(white);
		text-align: center;
	}

	// The card container.
	.services {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 100%;
		width: rem(900);

		@include grid-media($tablet-portrait-up) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	//-----------------------------------------
	// Service Card
	//-----------------------------------------
	.service {
		border: 2px solid color(metallic-gold);
		flex: 0 1 33%;
		padding: $size__padding;
		text-align: left;

		.offerings {
			padding-left: $size__padding;
		}

		h3 {
			color: color(white);
			text-align: center;
		}

		+ .service {
			margin-top: rem(30);

			@include grid-media($tablet-portrait-up) {
				margin-left: rem(30);
				margin-top: 0;
			}
		}
	}
}
