//--------------------------------------------------------------
// THE STUDIO
//--------------------------------------------------------------
.the-studio {

	.content-area {
		padding: 0;
	}

	.entry-content {
		margin-top: 0;
	}

	.clayton-gerard-latest-projects {
		@include clearfix;

		margin: 50px auto 50px;
		max-width: 900px;
		padding: $size__padding;

		.clayton-gerard-button-wrapper {
			text-align: center;
		}
	}

	.clayton-gerard-project-loop-heading {
		margin-bottom: 50px;
		padding-top: 15px;
		text-align: center;
	}

	.clayton-gerard-project-wrapper {
		margin-bottom: 50px;
		overflow: hidden;
	}

	.clayton-gerard-project {
		margin: 0 auto 30px;
		width: 100%;

		.post-thumbnail {
			@include grayscale;
		}

		@media (min-width: em(550)) {
			float: left;
			margin-right: calc(30px);
			width: calc(50% - 15px);

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		@media (min-width: em(800)) {
			margin-right: calc(30px);
			width: calc(32.5% - 15px);

			&:nth-child(2n) {
				margin-right: calc(30px);
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	.clayton-gerard-project-heading {
		text-align: center;
	}

	.last {
		margin-bottom: 0;
	}

	.clayton-gerard-button {
		display: block;
		margin: 0 auto 15px;
		width: 245px;

		@media (min-width: em(560)) {
			display: inline-block;
			margin: 0 30px 0 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
