//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------


//-----------------------------------------
// Search Form
//-----------------------------------------
.search-form {

	margin-top: $size__padding;

	@include grid-media($tablet-landscape-up) {
		display: none;
		float: right;
		width: calc(100% - 10px);
	}

	.search-field {
		background-color: color(white);
	}
}
