//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------

body {
	font-size: $font__body-size;
}

//-------------------------------
// Headings
//-------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
	color: color(mine-shaft);
	font-family: $font__headings;
	margin-bottom: 10px;
}

h1,
.h1 {
	font-size: 28px;
}

h2,
.h2 {
	font-size: 24px;
}

h3,
.h3 {
	font-size: 20px;
}

h4,
.h4 {
	font-size: 18px;
}

h5,
.h5 {
	font-size: 16px;
}

h6,
.h6 {
	font-size: 14px;
}


//-----------------------------------------
// Links
//-----------------------------------------
a {
	transition: color 0.3s ease-in-out;
}

//-------------------------------
// Blockquote
//-------------------------------
blockquote,
.blockquote {
	border: none;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	text-align: center;

	&::before,
	&::after {
		content: none;
	}
}


//-------------------------------
// Add extra margin after
// paragraph
//-------------------------------
.extra-p-margin {
	margin-bottom: 40px;
}
