//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
button,
input[type='button'],
input[type='submit'],
.button,
.clayton-gerard-button {
	display: inline-block;
	padding: em(15) em(25);
	border: $border__button;
	background-color: $color__background-button;
	color: $color__text-button;
	font-family: $font__button;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: all 0.2s ease-in;

	&:visited {
		color: $color__text-button;
	}

	&:hover {
		border: $border__button-hover;
		background-color: $color__background-button-hover;
		color: $color__text-button-hover;
	}
}
