//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
.content-area {
	@include clearfix;

	.the-studio & {
		padding: 0;
	}
}

.entry-title {
	margin-bottom: 0;
}

.byline {
	display: inline;
}

.posted-on,
.byline {
	font-size: em(14);
	font-style: italic;
}

.entry-content {

	.the-studio & {
		margin-top: 0;
	}
}

.entry-footer {
	font-size: em(15);
}

.entry-tax-term-list {
	display: inline;

	&::after {
		content: ' | ';
	}
}

.post-edit-link {
	display: inline;

	&::before {
		content: ' | ';
		font-size: 13px;
		padding-right: 0;
	}
}
