//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
.right-sidebar .content-area {
	max-width: 640px;
}

.entry-title {
	margin-bottom: 0;
	text-transform: uppercase;
}

.byline {
	display: inline;
}

.posted-on,
.byline {
	font-size: em(14);
	font-style: italic;
}

.entry-footer {
	font-size: 13px;
	text-transform: uppercase;
}

.entry-tax-term-list {
	display: inline;

	&::after {
		content: ' | ';
	}
}

.post-edit-link {
	display: inline;

	&::before {
		content: ' | ';
		font-size: 13px;
		padding-right: 0;
	}
}


//-------------------------------
// Single Portfolio
//-------------------------------
.single-portfolio {

	.content-area {
		max-width: 960px;
	}
}
