//--------------------------------------------------------------
// GRID 
//--------------------------------------------------------------
.full-width {
	@include full-width;
}

.row {
	@include center;

	max-width: 100%;
	width: rem(900);

	&-600 {
		width: rem(600);
	}

	.heading {
		margin-bottom: rem(50);
	}
}


//-----------------------------------------
// Portfolio Grid
//-----------------------------------------
// Grid variables
$one-column: (
	columns: 1,
);

$two-column: (
	columns: 2,
	gutter: rem(30),
);

$three-column: (
	columns: 3,
	gutter: rem(30),
);

.project-posts,
.latest-projects .block__content {
	@include clearfix;
	
	@include grid-media($tablet-portrait-up) {
		@include grid-collapse($two-column);

		@supports(display: grid) {
			display: grid;
			grid-gap: rem(30);
			grid-template-columns: repeat(2, 1fr);
			margin-left: 0;
			margin-right: 0;
			width: auto;
		}
	}

	@include grid-media($tablet-landscape-up) {
		@include grid-collapse;

		@supports(display: grid) {
			grid-template-columns: repeat(3, 1fr);
			margin-left: 0;
			margin-right: 0;
			width: auto;
		}
	}
}

.portfolio-card {

	@include grid-media($tablet-portrait-up) {
		@include grid-column(1, $two-column);

		@supports(display:grid) {
			float: none;
			margin: 0;
			width: 100%;
		}
	}

	@include grid-media($tablet-landscape-up) {
		@include grid-column(1, $three-column);

		@supports(display:grid) {
			float: none;
			margin: 0;
			width: 100%;
		}
	}
}
