//--------------------------------------------------------------
// HEADER
//--------------------------------------------------------------

//-----------------------------------------
// General Header Styles
//
// The max-content width should be 1120px.
//-----------------------------------------
.site-header {
	background-color: $color__site-header;
	border-bottom: 3.5px solid color(driftwood);
}

.header-wrap {
	@include center;

	align-items: center;
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	width: rem(1120);
}


//-----------------------------------------
// Site Branding
//-----------------------------------------
.site-title {
	font-family: $font__headings;
	font-size: rem(25);
	font-weight: 700;
	letter-spacing: (2 / 25) * 1em;
	margin-bottom: 0;

	a,
	a:visited {
		color: color(ship-gray);
	}
}

.site-description {
	@extend .screen-reader-text;
}