//--------------------------------------------------------------
// HEADER
//--------------------------------------------------------------

//-----------------------------------------
// General Header Styles
//
// The max-content width should be 1120px.
//-----------------------------------------
.site-header {
	background-color: $color__site-header;
	border-bottom: 3.5px solid color(driftwood);
	display: flex;
	font-family: $font__headings;
	padding: rem(26);
	text-transform: uppercase;

	.admin-bar & {

		@include grid-media($tablet-portrait-up) {
			top: rem(46) !important;
		}

		@include grid-media($wp-admin-bar) {
			top: rem(32) !important;
		}
	}
}

.header-inner {
	align-items: center;
	display: flex;
}


//-----------------------------------------
// Site Branding
//-----------------------------------------
.site-title {
	font-size: em(25);
	font-weight: 700;
	letter-spacing: em(2, 25);
	margin-bottom: 0;

	a,
	a:visited {
		color: color(ship-gray);
		text-decoration: none;
	}
}

.site-description {
	@extend .screen-reader-text;
}
