//--------------------------------------------------------------
// TYPOGRAPHY 
//--------------------------------------------------------------


//-----------------------------------------
// Font Palette
//-----------------------------------------
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;


//-----------------------------------------
// Buttons
//-----------------------------------------
$font__button: $montserrat;


//-----------------------------------------
// Typography
//-----------------------------------------
$font__body: $open-sans;
$font__body-size: em(15);
$font__headings: $montserrat;