//--------------------------------------------------------------
// PRIMARY NAVIGATION
//--------------------------------------------------------------

//-----------------------------------------
// Main Navigation
//-----------------------------------------
.main-navigation {
	background-color: $titanium;
	font-family: $montserrat;
	font-size: rem(12);
	font-weight: 600;
	letter-spacing: (1 / 12) * 1em;
	text-transform: uppercase;

	@include grid-media($tablet-landscape-up) {
		background-color: transparent;
	}

	.mobile-menu-is-visible & {
		z-index: 7;
	}

	a,
	a:visited {
		color: $concrete;

		@include grid-media($tablet-landscape-up) {
			color: $titanium;
		}
	}
}


//-----------------------------------------
// Primary Menu
//-----------------------------------------
.primary-menu {

	@media (max-width: map-get($tablet-landscape-up, 'media')) {
		padding: $size__padding * 3 $size__padding $size__padding;
	}
}


//-----------------------------------------
// Mobile Menu Toggle
//-----------------------------------------
.mobile-menu-toggle {
	border: none;
	padding: 0;
	z-index: 8;

	&:hover {
		border: none;
	}

	@include element(bar) {
		background-color: $titanium;
	}

	.mobile-menu-is-visible & {

		&__bar {
			background-color: $concrete;
		}
	}
}


//-------------------------------
// Social Navigation
//-------------------------------
.social-navigation {

	.social-links-menu {

		.menu-item {
			@include size(20% auto);

			> a {
				@include size(auto);

				&:hover {

					&:before {
						opacity: 0.75;
					}
				}

				&:before {
					max-width: rem(35);
					width: 100%;
				}
			}

			> a[href*="facebook.com"]:before {
				content: url(images/facebook-icon.svg);
			}

			> a[href*="twitter.com"]:before {
				content: url(images/twitter-icon.svg);
			}

			> a[href*="instagram.com"]:before {
				content: url(images/instagram-icon.svg);
			}

			> a[href*="pinterest.com"]:before {
				content: url(images/pinterest-icon.svg);
			}

			> a[href*="bloglovin.com"]:before {
				content: url(images/bloglovin-icon.svg);
			}
		}
	}
}
